* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

header {
  padding: 1rem;
}
header .container {
  text-align: center;
}
header .container nav {
  padding: 1.5rem;
}
header .container nav ul {
  display: flex;
  list-style: none;
}
header .container nav ul li {
  margin-right: 1rem;
}

main .container h2 {
  margin-bottom: 1.5rem;
}
main .container article {
  margin-bottom: 1rem;
}
main .container article h3 {
  margin-bottom: 1rem;
}
main .container section nav ul {
  display: flex;
  list-style: none;
}
main .container section nav ul li {
  margin-right: 0.5rem;
}
main .container section nav ul li a {
  text-decoration: none;
  color: #666;
}
main .container section nav ul li span {
  text-decoration: none;
  color: #222;
}

footer {
  text-align: center;
  padding: 1rem;
}