header {
    padding: 1rem;

    .container {
        text-align: center;

        nav {
            padding: 1.5rem;

            ul {
                display: flex;
                list-style: none;

                li {
                    margin-right: 1rem;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}
